# Virtual environment
venv
venv/

# Environment variable files
.env

# IDE and editor configurations
.vscode/
.idea/

# Log files
*.log

# System files
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.swo
